<!DOCTYPE html>
<html lang>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="todo-list-example">
      <todo-item></todo-item>
       <!--  <form v-on:submit.prevent="addNewTodo">
          <label for="new-todo">Ajouter une tâche</label>
          <input
            v-model="newTodoText"
            id="new-todo"
            placeholder="Ex. nourrir le chat"
          >
          <button>Add</button>
        </form>
        <ul>
          <li
            v-for="(todo, index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
          >
          {{ todo.title }}
          <button v-on:click="removeElement(index,1)">Supprimer</button>
        </li>
        </ul> -->
      </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src ="main.js"></script>

</html>