* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10%;
    width: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    position: fixed;
    z-index: 100;
    font-weight: bold;
}

#container-logo {
    margin-left: 19%;
    padding-top: 1%;
}

.logo {
    width: 132px;
    height: 40px;
    color: white;


}

#barre-nav {
    display: flex;
    height: 100%;
    width: 100%;
    color: white;
    list-style: none;
    justify-content: flex-end;

}

nav ul li {
    padding: 2%;
}

body {
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    font-family: Circular, Helvetica, Arial, sans-serif;
}

#image {
    position: absolute;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%);
    background: url("../asset/hero-burst.svg") no-repeat;
    z-index: 1;
    width: 100%;
    background-size: 110%;
    background-position: top -410px center;
}

section {
    position: relative;
    z-index: 10;
    height: 100vh;
    width: 100%;
}

.container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;

    padding-bottom: 250px;
}

#encadrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Circular, Helvetica, Arial, sans-serif;

}

h1 {
    font-size: 80px;
    color: white;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 4%;
}

h4 {
    margin-top: 1%;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 3%;
}

#monbouton {
    height: 63px;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1db954;
    border-radius: 500px;
}

#monbouton:hover {
    background-color: #1ed760;
}

#button {
    color: white;
    margin-top: 1%;
}

footer {
    z-index: 10;
    background-color: black;
    height: 80vh;
    width: 100%;
    position: relative;
}

.container-footer ul {
    list-style: none;
    padding: 5%;
}

.container-footer ul li {
    padding: 7%;
    font-weight: bold;
}

.container-footer {
    padding-right: 23%;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#ul1 {
    top: -24px;

    position: relative;
    width: 22%;
}
#ul2{
    width: 22%;
}
#ul3 {
    position: relative;

    top: -51px;
    width: 22%;
}
#logofooter{
    position: relative;

top: -100px;
left: -74px;
}
.entete{
    color: #919496;
}